body {
    background-color: #fff; /* Modo claro */
    color: #000; /* Color de texto en modo claro */
  }
  
  body.dark-mode {
    background-color: #333; /* Modo oscuro */
    color: #fff; /* Color de texto en modo oscuro */
  }
  
  /* Estilos para la tabla en modo claro */
  table.listado-personas {
    width: 100%;
    border: 1px solid rgba(0, 0, 100, 0.8);
  }
  
  table.listado-personas thead th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(0, 0, 300, 0.4);
    text-transform: uppercase;
  }
  
  table.listado-personas tbody td {
    padding: 0.5em;
    text-align: center;
  }
  
  table.listado-personas tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(0, 0, 100, 0.1)
  }
  
  /* Estilos para la tabla en modo oscuro */
  body.dark-mode table.listado-personas {
    border-color: rgba(255, 255, 255, 0.8);
  }
  
  body.dark-mode table.listado-personas thead th {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
  }
  
  body.dark-mode table.listado-personas tbody td {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  
  body.dark-mode table.listado-personas tbody tr {
    background-color: rgba(0, 0, 0, 0.2);
  }
  